.subs {
  position: relative;
  z-index: 0;
  min-width: 320px;
  width: 100%;
  background-color: $color-ghost-white;
}

.subs__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  @include vp-1199 {
    max-width: 1119px;
    padding-left: 163px;
    padding-right: 163px;
  }

  @include vp-767 {
    max-width: 767px;
    padding-top: 63px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.subs__img {
  display: block;
  position: absolute;
  z-index: 1;
  bottom: -150px;
  right: -100px;
  width: 387px;

  @include vp-1199 {
    bottom: -125px;
    width: 347px;
    right: 0;
  }

  @include vp-767 {
    display: none;
  }
}

.subs__title {
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  font-family: "Alumni Sans", "Arial", sans-serif;
  letter-spacing: 0.03em;
  max-width: 350px;
  padding-right: 4px;
  margin-bottom: 8px;

  @include vp-1199 {
    margin-bottom: 11px;
    font-size: 42px;
    line-height: 50px;
    padding-right: 13px;
  }

  @include vp-767 {
    max-width: 147px;
    font-size: 32px;
    line-height: 38px;
    padding-right: 10px;
  }
}

.subs__buttons {
  max-width: 100%;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 46px;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);

  @include vp-1199 {
    column-gap: 54px;
  }

  @include vp-767 {
    margin: 0 5px;
    column-gap: 45px;
  }
}

.subs__button {
  max-width: 100px;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  padding: 10px 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  border: none;
  color: rgba(16, 38, 84, 0.5);

  @include vp-1199 {
    font-size: 18px;
    line-height: 27px;
  }

  @include vp-767 {
    padding: 10px 0 12px;
    font-size: 16px;
    line-height: 24px;
  }
}

.subs__button:hover {
  transition: 0.3s;
  text-shadow: 0 0 10px $color-torch-red;
}

.subs__button:active {
  transition: 0.3s;
  color: $color-default-white;
}

.subs__button--active {
  color: $color-supphire;
}

.subs__button--active::after {
  transition: 0.3s;
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -2px;
  left: 0;
  background-color: #d10a42;
}

.subs__button--active:hover::after {
  box-shadow: 0 0 10px $color-torch-red;
}

.subs__list {
  transition: 0.3s;
  position: relative;
  z-index: 2;
  display: none;
  width: 100%;
  margin-top: 38px;
}

.subs__list--active {
  display: grid;
  grid-template-columns: repeat(3, 31%);
  grid-gap: 3.4%;

  @include vp-1199 {
    min-width: 442px;
    margin: 44px auto 0;
    grid-template-columns: 100%;
    grid-gap: 40px;
  }

  @include vp-767 {
    margin-top: 33px;
    min-width: 290px;
    grid-gap: 35px;
  }
}

.subs__item {
  transition: 0.6s;
  border: 7px solid;
  background-color: $color-default-white;
  border-color: $color-default-white;
  padding: 51px 30px;
  width: 100%;
  min-height: 448px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  @include vp-767 {
    padding: 45px 20px 35px;
    min-height: 384px;
  }
}

.subs__item:hover,
.subs__item:active {
  transition: 0.6s;
  border: 7px solid;
  border-image-source: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%);
  border-image-slice: 26;
}

.subs__item h3 {
  text-align: center;
  margin: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;

  @include vp-767 {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 9px;
  }
}

.subs__item p {
  text-align: center;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #495a7d;
}

.subs__price {
  margin-left: 5px;
  margin-top: 66px;
  position: relative;

  @include vp-767 {
    font-size: 22px;
    line-height: 24px;
    margin-top: 54px;
  }
}

.subs__price b {
  position: relative;
  z-index: 3;
  color: $color-egyptian-blue;
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;

  @include vp-767 {
    font-size: 48px;
    line-height: 72px;
  }
}

.subs__price span {
  user-select: none;
  position: absolute;
  left: -19px;
  bottom: -5px;
  z-index: 2;
  color: #e8e8e8;
  opacity: 0.48;
  font-weight: 700;
  font-size: 100px;
  line-height: 150px;

  @include vp-767 {
    left: -16px;
    font-size: 80px;
    line-height: 120px;
  }
}

.subs__item svg {
  position: relative;
  z-index: 3;
  margin-left: 11px;

  @include vp-767 {
    width: 24px;
    height: 33px;
    margin-left: 7px;
  }
}

.subs__link {
  user-select: none;
  margin-top: 33px;
  text-align: center;
  transition: 0.6s;
  background-color: $color-default-white;
  border: 2px solid;
  border-color: $color-resolution-blue;
  width: 206px;
  min-height: 64px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 25px 25px 22px;

  @include vp-1199 {
    margin-top: 35px;
    width: 56%;
  }

  @include vp-767 {
    width: 83.7%;
    margin-top: 30px;
  }
}

.subs__link:hover,
.subs__link:active {
  color: $color-default-white;
  background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
  transition: 0.6s;
  border: none;
  padding: 27px;
}
