.trainers {
  overflow-x: hidden;
  position: relative;
  z-index: 0;
  min-width: 320px;
  width: 100%;
}

.trainers__container {
  max-width: 1352px;
  padding: 0;
  padding-bottom: 91px;

  @include vp-1199 {
    padding: 0;
    padding-bottom: 101px;
  }

  @include vp-767 {
    padding: 0;
    padding-bottom: 69px;
  }
}

.trainers__title {
  padding-left: 98px;
  margin: 0;
  margin-bottom: 48px;
  width: 250px;
  text-align: start;
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;

  @include vp-1199 {
    padding: 0;
    text-align: center;
    padding-right: 7px;
    font-size: 42px;
    line-height: 50px;
    margin: 0 auto 31px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
    padding-right: 7px;
    margin: 0 auto 43px;
  }
}

.trainers__inner {
  position: relative;
  z-index: 1;
  padding: 0 96px;

  @include vp-1199 {
    padding: 0 101px;
  }

  @include vp-767 {
    padding: 0 47px;
  }
}

.trainers__buttons {
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  justify-content: space-between;

  @include vp-1199 {
    width: 758px;
  }

  @include vp-767 {
    max-width: 615px;
    min-width: 320px;
    width: 100%;
  }
}

.trainers__button {
  display: block;
  transition: 0.3s;
  cursor: pointer;
  height: 100%;
  background-color: transparent;
  border: none;
  padding: 0 40px;
}

.trainers__button:hover {
  transition: 0.3s;
  background-color: rgba(237, 2, 51, 0.1);
}

.trainers__button:active {
  transition: 0.3s;
  background-color: rgba(44, 57, 242, 0.1);
}

.trainers__button.swiper-button-disabled:hover,
.trainers__button.swiper-button-disabled:active {
  background-color: transparent;
  cursor: default;
}

.trainers__button--right {
  @include vp-767 {
    padding: 0 15px 0 22px;
  }
}

.trainers__button--left {
  @include vp-767 {
    padding: 0 22px 0 15px;
  }
}

.trainers__button svg {
  @include vp-767 {
    width: 10px;
    height: 19px;
  }
}

.trainers__button--right svg {
  transform: rotate(180deg);
}

.trainers__slider {
  width: 100%;
}

.trainers__list {
  box-sizing: border-box;
  width: 100%;
  display: flex;
}

.trainers__item {
  position: relative;
  z-index: 3;
  display: block;
  width: 22.4%;
  height: 294px;

  @include vp-1199 {
    width: 47.3%;
  }

  @include vp-767 {
    width: 100%;
    height: 274px;
  }
}

.trainers__pic {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 1;
}

.trainers__img {
  background-color: $color-resolution-blue;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trainers__text {
  transition: 0.6s;
  width: 100%;
  height: 100%;
  padding: 26px;
  position: absolute;
  z-index: 2;
  color: $color-default-white;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  @include vp-1199 {
    padding: 25px;
    padding-left: 31px;
  }
}

.trainers__text h3 {
  margin: 0;
  width: 100%;
  transition: 0.6s;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.trainers__text span,
.trainers__about {
  display: none;
}

.trainers__item:hover .trainers__text,
.trainers__item:active .trainers__text,
.trainers__item:focus-visible .trainers__text {
  overflow-y: scroll;
  padding: 54px 10px 30px;
  transition: 0.6s;
  background-color: rgba(16, 38, 84, 0.89);
  justify-content: flex-start;

  @include vp-1199 {
    padding: 55px 20px 30px 10px;
  }

  @include vp-767 {
    padding: 45px 10px 30px;
  }
}

.trainers__item:hover h3,
.trainers__item:active h3,
.trainers__item:focus-visible h3 {
  transition: 0.6s;
}

.trainers__item:hover span,
.trainers__item:active span,
.trainers__item:focus-visible span {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #b6bdcc;
  margin-top: 0;
}

.trainers__item:hover .trainers__about,
.trainers__item:active .trainers__about,
.trainers__item:focus-visible .trainers__about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  list-style-type: disc;
  max-width: 143px;
  margin-left: 24px;
  margin-top: 34px;

  @include vp-767 {
    margin-left: 19px;
    margin-top: 32px;
  }
}

.trainers__par p {
  margin: 0;
  margin-bottom: 13px;
}
